<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>Airport_PIS</display-name>
  <welcome-file-list>
    <welcome-file>redirect.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.hypnotech.airport_pis.servlets.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageDestination</display-name>
    <servlet-name>ManageDestination</servlet-name>
    <servlet-class>com.hypnotech.airport_pis.servlets.ManageDestination</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageDestination</servlet-name>
    <url-pattern>/managedestination</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DestinationAPI</display-name>
    <servlet-name>DestinationAPI</servlet-name>
    <servlet-class>com.hypnotech.airport_pis.servlets.DestinationAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DestinationAPI</servlet-name>
    <url-pattern>/api/destination</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageAirline</display-name>
    <servlet-name>ManageAirline</servlet-name>
    <servlet-class>com.hypnotech.airport_pis.servlets.ManageAirline</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageAirline</servlet-name>
    <url-pattern>/manageairline</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublicDisplay</display-name>
    <servlet-name>PublicDisplay</servlet-name>
    <servlet-class>com.hypnotech.airport_pis.servlets.PublicDisplay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicDisplay</servlet-name>
    <url-pattern>/display/public</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApiAirline</display-name>
    <servlet-name>ApiAirline</servlet-name>
    <servlet-class>com.hypnotech.airport_pis.servlets.ApiAirline</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApiAirline</servlet-name>
    <url-pattern>/api/airline/*</url-pattern>
  </servlet-mapping>
</web-app>